extends views/default
include views/mixins

block variables
	- const title = "Гостиницы"

block content
	header.header
		.wrapper.header__wrapper
			.header__top
				nav.header__nav
					ul.header__menu
						li.header__item
							a.header__link(href="#") Информация
						li.header__item
							a.header__link(href="#") Фото и видео
					.header__logo
						a.header__link(href="/")
							+svg("logo", "logo")
					ul.header__menu
						li.header__item
							a.header__link(href="#") Карта штата
						li.header__item
							a.header__link.header__link_active Гостиницы
	main.main
		section.section
			.wrapper
				.filters
					.filters__container
						h3.filters__title Инфраструктура:
						.filters__inputs
							.filters__input
								input.filters__check(type="checkbox" id="check-pool")
								label.filters__label(for="check-pool") Бассейн
							.filters__input
								input.filters__check(type="checkbox" id="check-parking")
								label.filters__label(for="check-parking") Парковка
							.filters__input
								input.filters__check(type="checkbox" id="check-wifi")
								label.filters__label(for="check-wifi") Wi-Fi
					.filters__container
						h3.filters__title Тип жилья:
						.filters__inputs
							.filters__input
								input.filters__check(type="checkbox" id="check-hotel")
								label.filters__label(for="check-hotel") Гостиница
							.filters__input
								input.filters__check(type="checkbox" id="check-motel")
								label.filters__label(for="check-motel") Мотель
							.filters__input
								input.filters__check(type="checkbox" id="check-apartments")
								label.filters__label(for="check-apartments") Апартаменты
		section.section
			.wrapper
				.sort.section__sort
					h2.section__title.section__title_sort Найдено: 
						span.sort__num 3
					.sort__block
						h3.sort__title Сортировка:
						.sort__methods
							button.sort__method.sort__method_price По цене								
							button.sort__method.sort__method_type По типу							
							button.sort__method.sort__method_rating По рейтингу
		section.section
			.wrapper
				.catalog
	footer.footer
		.wrapper
			.footer__content
				.footer__contacts
					p.footer__text #visitSEDONA
					p.footer__text ТЕЛ:
						a(href="tel: +74956660166") +7(495) 666-01-66
				.soc.footer__soc
					.soc__item
						a.soc__link(href="#") 
							+svg("twitter", "soc")
					.soc__item
						a.soc__link(href="#") 
							+svg("facebook", "soc")
					.soc__item
						a.soc__link(href="#") 
							+svg("youtube", "soc")
				.footer__logo
					p Website by
					a(href="https://htmlacademy.ru/") 
						+svg("logo-htmlacademy", "html-academy")
	script(src="js/scripts.min.js")