$color-blue: #81B3D2;
$color-blue-hover: #669EC0;
$color-blue-click: #5496BD;
$color-brown: #766357;
$color-gray: #e4e3e3;
$input-color: #F2F2F2;
$input-hover-color: #EBEBEB;
$input-focus-color: #fff;
$text-color: #333;
$title-color: #000;