@import '_reset';

button {
	cursor: pointer;
	text-transform: uppercase;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.icon {
	&_logo {
		height: 70px;
		width: 138px;

		@include _480 {
			height: 50px;
			width: 100px;
		}
	}
	&_advantage {
		height: 70px;
		width: 75px;
	}
	&_minus {
		height: 3px;
		width: 12px;
	}
	&_plus {
		height: 11px;
		width: 11px;
	}
	&_soc {
		height: 20px;
		width: 20px;
	}
	&_html-academy {
		height: 41px;
		margin-left: 8px;
		width: 115px;
	}
}

.wrapper {
	// box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
	margin: 0 auto;
	width: 1800px;

	@include _1920 {
		width: 1200px;
	}

	@include _1200 {
		width: 1024px;
	}

	@include _1024 {
		box-shadow: none;
		width: 100%;
	}
}

.header {
	padding-top: 46px;

	@include _768 {
		padding-top: 77px;
	}

	&__top {
		background-color: #fff;
		left: 50%;
		padding: 15px 72px;
		position: fixed;
		top: 0;
		transform: translateX(-50%);
		width: 1800px;
		z-index: 50;

		@include _1920 {
			width: 1200px;
		}

		@include _1200 {
			width: 1024px;
		}

		@include _1024 {
			box-shadow: none;
			width: 100%;
		}

		@include _480 {
			padding: 15px;
		}
	}

	&__nav {
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		align-items: center;
		display: flex;
		font-weight: 700;
		justify-content: space-between;
		width: 27%;

		@include _900 {
			flex-direction: column;
			width: auto;
		}
	}

	&__item {

		@include _900 {
			&:first-child {
				margin-bottom: 15px;
			}
		}
	}

	&__logo {
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		top: 0;
		transition: 0.3s;
		z-index: 30;

		&:hover {
			transform: translate(-50%, 5%) scale(1.1);
		}
	}

	&__link {
		transition: 0.3s;

		&:hover, &:focus {
			color: $color-blue;
		}

		&:active {
			color: rgba(0, 0, 0, 0.3);
		}

		&_active {
			color: $color-brown;
			user-select: none;

			&:hover {
				color: $color-brown;
			}
		}
	}

	&__body {
		background-image: url(../img/header/header-bg.png);
		background-size: cover;
		clip-path: polygon(0% 0%, 0% 89%, 30% 93%, 30% 89%, 50% 96%, 70% 89%, 70% 93%, 100% 89%, 100% 0%);
		padding: 80px 0;

		@include _480 {
			background-image: url(../img/header/header-bg-mobile.png);
		}
	}

	&__content {
		text-align: center;
	}

	&__subtitle {
		@include fs(54);
		align-items: center;
		display: flex;
		flex-direction: column;
		color: $color-blue;
		font-weight: 700;
		margin: 0 0 55px 0;
	}

	&__title {
		@include fs(120);
		color: #fff;
		margin: 0 0 55px 0;

		@include _480 {
			@include fs(60);
		}
	}

	&__text {
		@include fs(32);
		color: #fff;
		font-family: 'Dancing Script', cursive;
		white-space: pre-line;

		&_brown {
			color: $color-brown;
			display: inline-block;
			position: relative;

			&::before, &::after {
				content: '';
				background-color: $color-brown;
				height: 2px;
				margin-top: -1px;
				top: 50%;
				position: absolute;
				width: 29px;
			}

			&::before {
				left: -41px;
			}

			&::after {
				right: -41px;
			}
		}
	}
}

.main {
	flex-grow: 1;
}

.section {
	color: $text-color;
	text-transform: uppercase;

	&__info {
		padding: 50px 0;
		text-align: center;

		&_big {
			padding: 50px 0 129px;
		}
	}

	&__title {
		@include fs(21);
		font-weight: 700;
		margin-bottom: 30px;
		white-space: pre-line;

		&_sort {
			margin-bottom: 0;
			margin-right: 46px;

			@include _768 {
				margin-bottom: 15px;
				margin-right: 0;
			}
		}
	}

	&__sort {
		align-items: center;
		display: flex;
		padding: 30px 73px;

		@include _768 {
			flex-direction: column;
			padding: 15px;
		}
	}
}

.advantages {
	text-transform: uppercase;

	&__row {
		display: flex;

		@include _768 {
			flex-direction: column;
		}
	}

	&__img {
		width: 67%;

		@include _768 {
			width: 100%;
		}

		& img {
			height: 100%;
			width: 100%;
		} 
	}

	&__info {
		align-items: center;
		background-color: $color-blue;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px 50px;
		text-align: center;
		width: 33%;

		@include _768 {
			width: 100%;
		}
	}

	&__title {
		@include fs(21);
		color: #fff;
		margin-bottom: 25px;
		white-space: pre-line;

		&_black {
			color: #000;
		}
	}

	&__number {
		margin-bottom: 25px;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		padding: 50px 65px;

		@include _768 {
			align-items: center;
			flex-direction: column;
			margin: -30px 0;
		}

		&_gray {
			background-color: $color-gray;
		}
	}

	&__card {
		text-align: center;
		width: 255px;

		@include _768 {
			margin: 30px 0;
			width: 50%;
		}

		@include _480 {
			width: 100%;
		}
	}

	&__icon {
		margin-bottom: 25px;
	}
}

.map {
	background-image: url(../img/footer/map.jpg);
	height: 474px;
	display: flex;
	justify-content: center;
}

.form {
	color: #000;
	display: inline-block;
	font-weight: 700;
	margin: 0 auto;
	text-transform: uppercase;
	transform: translateY(-86px);

	@include _600 {
		width: 100%;
	}

	&__title {
		align-items: center;
		background-color: $color-brown;
		color: #fff;
		height: 86px;
		display: flex;
		justify-content: center;
	}

	&__body {
		background-color: #fff;
		padding: 55px;

		@include _480 {
			padding: 15px;
		}
	}

	&__container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		@include _480 {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	&__numbers {
		@include _480 {
			flex-direction: row;
		}
	}

	&__number {
		align-items: center;
		display: flex;

		@include _480 {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	&__input {
		background-color: $input-color;
		border: none;
		color: #000;
		font-weight: 7000;
		padding: 6px 13px;

		&:hover {
			background-color: $input-hover-color;
		}

		&:focus {
			background-color: $input-focus-color;
		}

		&_date {
			width: 340px;

			@include _480 {
				width: 100%;
			}
		}

		&_num {
			width: 38px;
		}
	}

	&__label {
		margin-right: 25px;
	}

	&__num {
		display: flex;
	}

	&__minus, &__plus {
		align-items: center;
		background-color: $input-color;
		cursor: pointer;
		display: flex;
		justify-content: center;
		width: 38px;
	}

	&__btn {
		@include fs(21);
		background-color: $color-blue;
		border: none;
		color: #fff;
		cursor: pointer;
		font-weight: 700;
		padding: 16px;
		text-align: center;
		width: 100%;

		&:hover {
			background-color: $color-blue-hover;
		}

		&:active {
			background-color: $color-blue-click;
		}
	}
}

.footer {

	&__content {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 23px 110px 36px;

		@include _1024 {
			padding: 15px 50px;
		}

		@include _768 {
			align-items: center;
			flex-direction: column;
		}
	}

	&__contacts {
		text-align: center;
	}

	&__text {
		@include fs(21);
		font-weight: 700;

		&:first-child {
			margin-bottom: 9px;
		}
	}

	&__logo {
		align-items: center;
		display: flex;
	}

	&__soc {
		@include _768 {
			margin-bottom: 30px;
			margin-top: 30px;
		}
	}
}

.soc {
	display: flex;
	margin-left: -6px;
	margin-right: -6px;

	&__item {
		background-color: $color-blue;
		margin: 0 6px;
	}

	&__link {
		display: block;
		padding: 16px;

		&:hover {
			background-color: $color-blue-hover;
		}

		&:active {
			background-color: $color-blue-click;
		}
	}
}

.filters {
	background-image: url(../img/catalog/filters-bg.jpg);
	background-size: cover;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	padding: 30px 72px;
	text-transform: uppercase;

	@include _900 {
		justify-content: center;
		padding-top: 50px;
	}

	@include _480 {
		align-items: center;
		flex-direction: column;
		padding: 50px 15px 30px;
	}

	&__container {

		&:first-child {
			margin-bottom: 30px;
			margin-right: 117px;

			@include _900 {
				margin-right: 30px;
			}

			@include _480 {
				margin-right: 0;
			}
		}
		&:last-child {
			margin-left: auto;

			@include _900 {
				margin-left: 30px;
			}

			@include _480 {
				margin-left: 0;
				margin-top: 30px;
			}
		}
	}

	&__title {
		@include fs(16);
		color: #fff;
		font-weight: 700;
		margin-bottom: 25px;
	}

	&__input {
		padding-left: 40px;

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__check {
		height: 1px;
		overflow: hidden;
		position: absolute;
		width: 1px;

		&:checked + .filters__label::after {
			content: '';
		} 
	}

	&__label {
		cursor: pointer;
		position: relative;
		user-select: none;

		&::before {
			border: 2px solid #fff;
			border-radius: 5px;
			content: '';
			height: 23px;
			left: -40px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 23px;
		}

		&::after {
			background-image: url(../img/svg/check.svg);
			background-position: center;
			background-repeat: no-repeat;
			bottom: 5px;
			content: none;
			height: 16px;
			left: -32px;
			position: absolute;
			width: 21px;
		}
	}

	&__btn {
		background: none;
		border: 2px solid #fff;
		color: #fff;
		cursor: pointer;
		display: block;
		margin: 33px auto 0;
		padding: 8px 35px;
	}
}

.range {

	&__block {
		align-items: center;
		border: 2px solid #fff;
		border-radius: 2px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 11px;
		min-width: 320px;
		padding: 7px 0;

		@include _480 {
			min-width: auto;
		}
	}

	&__num {
		text-align: center;
		width: 50%;

		&_min {
			border-right: 2px solid #fff;
		}
	}

	&__input {
		cursor: pointer;
		display: block;
		height: 2px;
		width: 100%;
	}
}

.sort {

	&__block {
		align-items: center;
		display: flex;
		@include fs(12);

		@include _480 {
			flex-direction: column;
		}
	}

	&__title {
		font-weight: 400;
		margin-right: 40px;

		@include _480 {
			margin-bottom: 15px;
			margin-right: 0;
		}
	}

	&__methods {
		@include _480 {
			display: flex;
			flex-direction: column;
		}
	}

	&__method {
		background: none;
		border: none;
		border-bottom: 1px dashed $color-blue;
		color: rgba(0, 0, 0, 0.3);
		padding-bottom: 3px;

		&:nth-child(2) {
			margin: 0 33px;

			@include _480 {
				margin: 15px 0;
			}
		}
	}
}

.catalog {
	background: none;
	padding: 0 73px;

	@include _768 {
		padding: 0 30px;
	}

	@include _600 {
		padding: 0 15px;
	}

	&__item {
		border-bottom: 1px solid #E5E5E5;
		border-top: 1px solid #E5E5E5;
		display: flex;
		padding: 30px 0;

		&:nth-child(2n) {
			border: none;
		}

		@include _600 {
			align-items: center;
			flex-direction: column;
		}
	}

	&__img {
		margin-right: 30px;
		width: 135px;

		@include _600 {
			margin-right: 0;
		}
	}

	&__block {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@include _600 {
			align-items: center;
			flex-direction: column;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		@include _600 {
			align-items: center;
			margin: 15px 0;
		}
	}

	&__title {
		// margin-bottom: 7px;
	}

	&__text {
		display: flex;

		&>p:first-child {
			margin-right: 40px;
		}
	}

	&__buttons {
		@include _600 {
			margin-top: 15px;
		}
	}

	&__btn {
		background-color: $color-blue;
		border: none;
		color: #fff;
		padding: 3px 16px;

		&_brown {
			background-color: $color-brown;
		}

		&:first-child {
			margin-right: 7px;
		}
	}

	&__rating {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include _600 {
			align-items: center;
		}

		&>p {
			background-color: $input-color;
			padding: 3px 15px;
		}
	}

	&__stars {
		background-image: url(../img/svg/star.svg);
		background-repeat: repeat-x;
		height: 17px;
	}
}